.form-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}
.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 0.1vw;
  width: fit-content;
  max-width: 230px;
}
.form-container > form > a {
  text-decoration: none;
}
.primary {
  /* color: #1976d2; */
}
.pass {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pass > span {
  cursor: pointer;
}

.progress {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* 
.mainDiv {
  background-color: #1976d2;
  height: 100vh;
} */
.contact-header > img {
  width: 50px;
  height: 50px;
}
.contact-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

* {
  user-select: none;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
h5 {
  text-decoration: none;
}

.profilePictureUpload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 3vh;
}

.upload-input {
  width: 2vw;
  visibility: hidden;
}
.profile-manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-left: 40vw;
  max-width: 350px;
}
.profile-manager > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
